@import '~scssinc';

.bf-content .bf-attachment {
  position: relative;
  box-sizing: content-box;
  border: 1px solid #e6e6e6;
  max-width: 438px;
  height: 72px;
  border-radius: 4px;

  .bf-attachment-icon {
    width: 72px;
    height: 72px;
    line-height: 72px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    display: inline-block;
    float: left;

    &-doc,
    &-docx,
    &-txt {
      background-color: #4697fa;
    }

    &-ppt,
    &-pptx {
      background-color: #ff8a46;
    }

    &-xls,
    &-xlsx {
      background-color: #20b283;
    }

    &-pdf {
      background-color: #ff5353;
    }
  }

  .bf-attachment-content {
    height: 72px;
  }
  .bf-attachment-content-title {
    height: 42px;
    font-size: 14px;
    color: #222222;
    line-height: 21px;
    user-select: none;
    padding: 8px 12px 4px 12px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .bf-attachment-content-desc {
    font-size: 11px;
    color: #aaaaaa;
    overflow: hidden;
    padding: 0 12px;
  }

  .button-remove {
    position: absolute;
    z-index: 2;
    top: -12px;
    right: -12px;
    padding: 0;
    width: 20px;
    line-height: 20px;
    height: 20px;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    outline: none;
    color: #fff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background-color: #c1c2c3;
    }
  }
}

.bf-media {
  .bf-media-progress {
    user-select: none;
    text-align: center;
    width: 96px;
    font-size: 24px;
    height: 96px;
  }
}
